*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webKit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;

    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

:root{
    font-size: 62.5%;
}

html{
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background-image: radial-gradient(circle, #6a7d9b, #50627f, #374864, #1e304a, #051931);
   
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    max-height: max-content;
    
}

header{
    display: flex;
    padding: 2rem 7%;

    width: 100%;
    height: max-content;

    justify-content: space-around;
    align-items: center;

    position: fixed;
    z-index: 999;
}

header #menu{
    font-size: 3.5rem;
    color: aliceblue;
    display: none;
}

header .logo{
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;
    text-decoration: none;
    color: aliceblue;
}
header .logo ion-icon,header .logo span{
    color: orangered;
}
.nav{
    display: flex;
    font-size: 2rem;
    gap: 1.5rem;
}
.nav a{
    color: aliceblue;
    text-decoration: none;
    transition: all .5s ease;
}

.nav a:hover{
    color: orangered;
}
.cart ion-icon{
    font-size: 5rem;
    color: aliceblue;
    cursor: pointer;
   
}
.cart ion-icon:hover{
    transform: translateY(0);
    animation: cart 1.5s infinite linear;
    color: orangered;
}

@keyframes cart{
    0%{
        transform: translateY(-5px);
        
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
        
    }
}

main{
    padding: 2rem 7%;
    display: flex;
    width: 100vw;
    min-height: max-content;
    height: 100vh;
    min-height: max-content;
    align-items: center;
    justify-content: center;
}

main .image img{
    width: 100%;
}

main .sombra{
    width: 30.0rem;
    height: .7rem;
    border-radius: 50%;
    background-color: #111;
    margin: 2.5rem auto;
    box-shadow: 0 0 .8rem .9rem #111;
    animation: shadow .7s infinite linear;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    
}
@keyframes shadow{
    from{
        width: 30.0rem;
        box-shadow: 0 0 .8rem .9rem #111;
    }
    to{
        width: 27.5rem;
        box-shadow: 0 0 .4rem .8rem  #111;
    }
}
main .image img{
    transform: translateY(0);
    animation: phones 1.5s infinite linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes phones{
    0%{
        transform: translateY(-7px);
        
    }
    50%{
        transform: translateY(7px);
    }
    100%{
        transform: translateY(-7px);
        
    }
}


main .content{
    display: flex;
    
    flex-direction: column;
}
main .content h1{
    font-size: 8rem;
    color: aliceblue;
}
main .content h1 span{
    color: orangered;
}
main .content p{
    font-size: 1.7rem;
    color: aliceblue;
    margin-bottom: 3rem;
}

main .content h2{
    font-size: 4rem;
    color: aliceblue;
}
main .content h2 span{
    color: orangered;
}
main .content a{
    display: block;
    padding: 1.5rem 7rem;
    width: fit-content;
    font-size: 4rem;
    background-color: transparent;
    border: .5rem solid aliceblue;
    color: aliceblue;
    transition: all .3s linear;

    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

main .content a::before{
    content: ' ';
    position: absolute;
    width:0;
    height:100%;
    top: 0; right: 0;
    background: aliceblue;
    transition: .3s linear;
    z-index: -1;
}

main .content a:hover::before{
    width: 100%;
    left: 0;
}
main .content a:hover{
    
    
    color: black;
}

.column{
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 25%;

    gap: 2rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}
.column li{
    list-style: none;
}
.column li img{
    width: 7rem;
    height: 7rem;
}

.column .row{
    display: flex;
    background-image: linear-gradient(to right top, #6a7d9b, #678cb4, #5e9bce, #48ace7, #00bdff);
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: .2rem solid #fff;
    align-items: center;
    justify-content: center;
}
.column .row.tow{
    background-image: linear-gradient(to right top, #6a7d9b, #78658d, #884b6a, #853739, #683500);
}
.column .row.tree{
    background-image: linear-gradient(to right top, #6a7d9b, #685b71, #543f46, #352926, #171410);
}

.column .row:hover{
    transform: translateY(0);
    animation: row 3s infinite linear;
    
}

@keyframes row{
    0%{
        transform: translateY(-5px);
        
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
        
    }
}








































@media (max-width:748px) {

    :root{
        font-size:55%;
    }
    header #menu{
        display: block;

    }
 
    .nav{
            display: flex;
            flex-direction: row;
            position: absolute;
            top: 100%; left: 0; right: 0;
            background-color: rgba(20, 20, 107, 0.442);
            border:  .1rem rgba(0,0,0,.1); 
            clip-path: polygon(0 0, 100% 0, 100% 0,0 0);
        
    }
    .nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%,0% 100%);
    
}

.nav a{
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    border:.2rem rgba(0, 0, 0, 0.64) ;
    
}

.cart{
    font-size: 2rem;
}

main{
    margin-top: 50%;
    flex-direction: column;
    max-width: max-content;
    max-height: max-content;

}
main .content a{
    margin-bottom: 10.0rem;
}
.column{
    padding-top: 25%;
}
}